@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-align: center;
    
}

body{
    background-color: rgba(254, 204, 0, 1);
	background-image: url("../proyectoProsegurJuegoMemoria/imagenes/fondo.jpg");
	
	background-size: cover;
}
.imagenlogo{
    display:block;
    margin:0px auto;
    width:50%;
}
.subtitulo{
	padding-top:10px;
}
h1, h3, h2{
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
	
}
iframe{
	border-radius:15px;
	width:70%;
}
.subsubtitulo{
	padding-bottom:10px
}
.main-title{
	padding:10px;
}
.jueguito{
	width:50%;
	display:block;
	margin:0px auto;
	position: relative; 
	padding-bottom: 56.25%; 
	padding-top: 0; 
	height: 0;
}

.titulojuego{
	padding:10px;
}
/*aca es el css del juego*/
@media screen and (max-width: 425px){

}